<!DOCTYPE html>
<html>

    <head>
        <title>Help</title>
        <link  rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href='/css/styles.css'>
        <script src="/js/script.js"></script>
    </head>

    <body>
        <div class="main-content">
            {{>headers}}
            <h1>Help</h1>
        </div>
        {{>footer}}
    </body>
</html>
